@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins";
  background: rgb(24, 27, 39);
}
mark {
  background: rgb(0, 30, 151);
  color: #d3d3d3;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}